.main-app{
  margin-top: 50px;
}
.gap{
  height: 50px;
  display: block;
  width: 100%;
}
.gap-md{
  height: 30px;
  display: block;
  width: 100%;
}

/* Styles go here */
.btn-primary:hover,
.btn-primary:focus {
  background-color: #108d6f;
  border-color: #108d6f;
  box-shadow: none;
  outline: none;
}

.btn-primary {
  color: #fff;
  background-color: #305891;
  border-color: #305893;
}

/* section {
  padding: 60px 0;
} */

section .section-title {
  text-align: center;
  color: #305893;
  margin-bottom: 50px;
  text-transform: uppercase;
}

#group_baucua .card {
  border: none;
  background: #ffffff;
}

.loading-container{
  position: fixed;
  z-index: 200;
  width: 100vw;
  height: 100vh;
}
.loading{
  position: absolute;
  transform: scale(3) ;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}